!!! html
%html
  %head
    %title Notes
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags 

  %body.fancy
    .header
      - if current_user
        Logged in as #{current_user.email}, #{link_to "log out", destroy_user_session_path, :method => :delete}
      - else
        = link_to "Log in", new_user_session_path

    .fancy_dashboard
      .lists_sidebar
        %ul
          - @lists.each do |list|
            %li= list.name
          - 100.times do
            %li stuff
      .list_container
        This is the main area
      .list_container
        This is the main area
      .list_container
        This is the main area
