
%h1 #{@list.name}

= link_to "list", @list, :id => "resource-link", :class => "hidden"
#resource-updated-at.hidden= @list.updated_at.to_i

- if can? :edit, @list
  = link_to new_list_note_path(@list), :class => "btn btn-sm btn-success" do
    %span.glyphicon.glyphicon-plus
    add note

- if @notes.empty?
  %hr
  no notes yet!
  %br
  %br

- unless @notes.empty?
  - init_markdown
  - @notes.each do |note|
    .note
      - unless note.title.empty?
        .title
          %strong= note.title

      - unless note.body.empty?
        .body
          = @markdown.render(note.body).html_safe
      .actions
        .pull-right
          = link_to "edit", edit_list_note_path(@list, note)
          = link_to "delete", list_note_path(@list, note), :method => :delete, :data => {:confirm => "are you sure?"}
        %span.glyphicon.glyphicon-edit
        #{time_ago_in_words note.updated_at} ago by #{note.last_editor}

- if can? :edit, @list
  %br
  .edit_actions
    = link_to 'edit list name', edit_list_path(@list)

    - if can? :permissions, @list
      |
      = link_to "permissions", permissions_list_path(@list)
