= form_for ([@list, @note]) do |f|
  - if @note.errors.any?
    #error_explanation
      %h2= "#{pluralize(@note.errors.count, "error")} prohibited this note from being saved:"
      %ul
        - @note.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, :class => "sr-only"
    = f.text_field :title, :class => "form-control", :placeholder => "title"
  .form-group
    = f.label :body, :class => "sr-only"
    = f.text_area :body, :class => "form-control", :placeholder => "body"

  = f.submit 'save note', :class => "btn btn-success"
