%h1 Listing notes

- @notes.each do |note|
  %p
    = note.title
    = note.body
    = link_to 'Show', note
    = link_to 'Edit', edit_note_path(note)
    = link_to 'Destroy', note, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %p
    Lists this note is in:
    = note.lists.count
    = note.lists.to_a

%br

= link_to 'New Note', new_note_path
