!!! html
%html
  %head
    %title Notes
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags 

  %body.simple
    .header
      .main
        - if current_user
          = link_to root_path, :class => "home-button" do
            %span.glyphicon.glyphicon-home
            %span.home-link
              home
          .pull-right
            = link_to destroy_user_session_path, :method => :delete do
              log out
              = current_user.email
        - else
          get ready to make some lists!

    .main
      -if notice
        .alert.alert-success
          = notice
      -if alert
        .alert.alert-warning
          = alert

      = yield

    .footer
      .main
        %hr
        lists made by
        = link_to "sashko stubailo", "http://github.com/stubailo"
